* {
    padding: 0%;
    margin: 0%;
}

body {
    padding: 0%;
    margin: 0%;
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    user-select: none;

}

.navbar {

    display: flex;
    align-content: center;


}

#tab1::before {
    content: "";
    justify-content: center;
    align-items: center;
    background-color: black;
    position: absolute;
    height: 46px;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
    margin: -2px;
    padding: 2px;
}

h2 {
    display: inline;
    margin-top: auto;
    font-family: monospace;
    font-size: 195%;
    color: whitesmoke;


}

.sr {
    display: block;
    margin: auto;
    align-items: center;



}

#tab1 {
    width: 100%;
}

#city {
    text-align: center;
    align-items: center;
    margin-left: 46rem;
    width: 50%;
    padding: 1px;
    border: 2px solid black;
    border-radius: 8px;
    font-size: 25px;
    font-family: 'Baloo Bhai 2', cursive;
}

#submit {

    align-items: center;
    margin: 1px 30px;
    border-radius: 4px;
    display: block;
    background: orangered;
    border: 2px solid black;
    border-radius: 5px;
    padding: 4px;
    margin: 0px auto;
    width: 100%;
    color: blue;
    font-size: 20px;
    font-family: 'Baloo Bhai 2', cursive;
}


/* body */

#cityName {
    text-align: center;
}

h1 {
    margin-top: 35px;
    text-align: center;
    color: antiquewhite;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    font-family: 'Baloo Bhai 2', cursive;
    text-shadow: rgb(105, 179, 253) 2px;
    font-size: 40px;
}

.b1 {
    align-items: center;
}

#temp1 {
    font-size: 10rem;
    padding-top: 103px;
    text-align: right;
    padding-right: 46px;
    text-overflow: clip;


}

#temp2 {
    display: inline;
    font-size: 2rem;
    padding-left: 166px;

}

#temp3 {
    justify-content: right;
    display: inline;
    font-size: 2rem;
    position: fixed;
    left: 451px;
    top: 463px;

}

#temp4 {
    font-size: 2rem;
    padding-left: 161px;

}

.weths {
    font-size: 3rem;
    padding-left: 81px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

#wes {
    padding-top: 6rem;
    position: fixed;
    left: 79rem;
    top: 17rem;
}

#wes2 {
    position: fixed;
    left: 79rem;
    top: 17rem;
}

li {
    font-family: cursive;
    list-style: none;
    padding: 4px;
    color: rgb(105, 179, 253);



}

.wetht {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.clik:hover {
    cursor: pointer;
}

.temp {
    display: flex;
    flex-direction: row;
}

span#cf {
    position: fixed;
    left: 21rem;
}

#humi {
    display: inline-block;
    position: fixed;
    right: 268px;
    top: 29rem;

}

.weth {
    font-size: 3rem;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}


@media screen and (max-width:400px) and (max-height:700px) {
    h2 {
        display: inline-block;
        text-align: center;
        width: 124px;
        margin-top: -2px;
        font-family: monospace;
        font-size: 111%;
        color: whitesmoke;
    }

    h1 {
        margin-top: 16px;
        text-align: center;
        color: antiquewhite;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;
        font-family: 'Baloo Bhai 2', cursive;
        text-shadow: rgb(105, 179, 253) 2px;
        font-size: 21px;
    }

    #city {
        text-align: center;
        align-items: center;
        margin-left: 4rem;
        width: 69%;
        padding: 1px;
        border: 2px solid black;
        border-radius: 8px;
        font-size: 16px;
        font-family: 'Baloo Bhai 2', cursive;
    }

    #tab1::before {
        content: "";
        justify-content: center;
        align-items: center;
        background-color: black;
        position: absolute;
        height: 33px;
        width: 100%;
        z-index: -1;
        opacity: 0.4;
        margin: -2px;
        padding: 2px;
    }

    #submit {
        align-items: center;
        margin: 1px 30px;
        border-radius: 4px;
        display: block;
        background: orangered;
        border: 2px solid black;
        border-radius: 5px;
        padding: 2px;
        margin: 0px auto;
        width: 100%;
        color: blue;
        font-size: 10px;
        font-family: 'Baloo Bhai 2', cursive;
    }

    body {
        padding: -1%;
        margin: 0%;
        background-image: url(bg3.jpg);
        background-repeat: no-repeat;
        user-select: none;
    }

    #temp1 {
        display: inline-block;
        font-size: 3rem;
        padding-top: 33px;
        text-align: left;
        padding-left: 19px;
    }

    span#cf {
        position: fixed;
        left: 18%;
    }

    #temp2 {
        display: inline;
        font-size: 25px;
        padding-left: 1rem;
    }

    #temp3 {
        justify-content: right;
        display: inline;
        font-size: 26px;
        position: fixed;
        left: 146px;
        top: 180px;
    }

    #temp4 {
        font-size: 26px;
        padding-left: 14px;
    }

    .weth {
        font-size: 26px;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;
    }



    #humi {
        display: flex;
        position: fixed;
    
        left: 12px;
        top: 23rem;
    }

    .weths {
        font-size: 26px;
        padding-left: 15px;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;
    }

    #wes {
        padding-top: 6rem;
        position: fixed;
        left: 0rem;
        top: 14rem;
    }

    #wes2 {
        position: fixed;
        left: 0rem;
        top: 17rem;
    }


}